@model List<DnDManager.Models.Character>

@{ 
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    if (item.IsAlive)
	{
		<h1>@item.Name</h1>
        <h2>@item.Class</h2>
        <h2>@item.Race</h2> 
	}
}